*{
    padding: 0;
    margin: 0;
}

#container{
    width: 100%;
    height: 90vh;
    margin-top: 2vh;
    background: rgba(255, 255, 255, 0.767);
    overflow:auto;
    border-radius: 5px;
}

.lupa{
    font-size: 2.5em;
}

.encabezado{
    margin: 15px;
}

.busqueda{
    display: flex;
}

.buscar{
    color: rgb(0, 0, 0);
}

.buscar::placeholder{
    color: darkgreen;
}

h6, p{
    text-align: left;
}

.busqueda:aria-placeholder{
    color: rgb(0, 0, 0);
}

.productos{
    width: 100%;
    display: inline-block;
    align-items: center;
}

.card{
    width: 24%;
    min-height: 100px;
    background-color: aliceblue;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0, 2, 4, 1 rgba(0,0,0,0.3);
    margin: 3px;
    display: inline-block;
}

.card img{
    width: 100%;

}

#cantidad{
    width: 30%;
    border: 1px solid rgba(88, 87, 87, 0.562);
    height: 25px;
    text-align: center;
    margin-top: 3px;
    margin-bottom: 2px;
}

#btncomprar{
    margin-right: 5px;
    width: 65%;

}
#btnvermas{
    margin-right: 5px;
    width: 100%;    
}