<div class="container" ng-app = 'catalogo'>
    <div id="productos">
        <div class="card" *ngFor="let prod of listaProductos">
            <h6>id Producto: {{prod.idProd}}</h6>
            <h6>Producto: {{prod.producto}}</h6>
            <p>Precio: {{prod.precio | currency: "C$"}}</p>
            <h6>Existencia: {{prod.existencia}}</h6>
            <div class="row">
                    <button id="btncomprar" class="btn-small amber darken-4 rigth" (click) ="anadir(prod.idProd, prod.producto, prod.precio, prod.existencia, h.value)">Añadir</button>   
                    <input [value]='1' #h type="number" min='1' pattern="^[0-9]+" id="cantidad">
                </div>
        </div>
    </div>
</div>